main{
    
    min-height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    & iframe{
        min-width: 100%;
        min-height: 1550px;
        
    
    }
}